<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピの編集
      </h1>
    </div>
  </div>
</section>

<%= form_for @recipe do |f|%>

<%= f.label :名前%>
<%= f.text_field :title %>

<%= f.label :作り方%>
<%= f.text_area :body %>

<%= f.label :写真%>
<%= f.attachment_field :image %>

<%= f.submit "編集",class:"button"%>

<% end %>