<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        レシピの詳細
      </h1>
    </div>
  </div>
</section>


<%= attachment_image_tag @recipe,:image %>
<%= @recipe.title%>
<%= simple_format @recipe.body%>

<% if @recipe.user.id ==current_user.id%>
    <%= link_to "編集",edit_recipe_path(@recipe),class:"button "%>
<% end %>


<p>
    <%= link_to  user_path(@recipe.user) do%>
        <%= @recipe.user.username %>さんのページへ
    <% end %>
</p>