<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マイページ
      </h1>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
                            <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png",class: "profile_image is-rounded" %>
                        </figure>
                    </div>
                    <div class="column is-8">
                        <table class="table is-fullwidth">
                            <tr>
                                <td class="is-size-4">
                                    <%= @user.username %>
                                </td>
                                <% if @user.id == current_user.id %>
                                    <td class="is-size-4">
                                        <%= @user.email %>
                                    </td>
                                    <td>
                                        <%= link_to  "編集", edit_user_path(@user),class: "button is-primary" %>
                                    </td>
                                <% end %>
                            </tr>
                        </table>
                        <table class="table is-fullwidth">
                            <tr>
                                <td>
                                    <%= @user.profile %>
                                    <h1>レシピの詳細は後ほど！！</h1>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to recipe_path(recipe) do%>
                    <%= attachment_image_tag recipe, :image %>
                <% end %>
              </figure>
            </div>
                <div class="card-content">
                    <div class="media">
                    <div class="media-content">
                        レシピ名：<%= recipe.title%> 
                    </div>       
                    <div>            
                        <%= link_to  "詳細" , recipe_path(recipe),class: "panel-block"%><br>
                        <% if current_user.id == @user.id %>
                            <%= link_to  "編集" , edit_recipe_path(recipe) ,class: "panel-block"%><br>
                            <%= link_to  "削除" , recipe_path(recipe), method: :delete ,data: { confirm: '削除しますか？' } ,class: "panel-block" %>
                        <% end %>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>